@media (min-width: 320px) {
    .resp-text {
        font-size: x-small;
    }
}

@media (min-width: 768px) {
    .resp-text {
        font-size: medium;
    }
}

body {
    font-family: 'Times New Roman', Times, serif;
}

.navbar {
    background-color: black;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: white;
}

.navbar-toggler-icon {
    background-color: white;
}

#big-pic {
    margin: 0;
    padding: 0;
}
