@media (min-width: 320px) {
    .resp-text {
        font-size: x-small;
    }
    .show-text {
        font-size: x-small;
    }
    .details {
        font-size: 7px;
    }
    .button-text {
        font-size: 6.5px;
    }
    .footer-titles {
        font-size: 15px;
    }
    .footer-info {
        font-size: 3.5px;
    }
    .centered {
        font-size: 40px;
    }
}

@media (min-width: 544px) {
    .show-text {
        font-size: medium;
    }
    .details {
        font-size: 8px;
    }
    .button-text {
        font-size: 8px;
    }
    .footer-titles {
        font-size: 20px;
    }
    .footer-info {
        font-size: 5px;
    }
    .centered {
        font-size: 50px;
    }
}

@media (min-width: 768px) {
    .resp-text {
        font-size: small;
    }
    .show-text {
        font-size: large;
    }
    .details {
        font-size: small;
    }
    .button-text {
        font-size: medium;
    }
    .footer-titles {
        font-size: 25px;
    }
    .footer-info {
        font-size: 8px;
    }
    .centered {
        font-size: 60px;
    }
}

@media (min-width: 1024px) {
    .show-text {
        font-size: xx-large;
    }
    .details {
        font-size: medium;
    }
    .button-text {
        font-size: large;
    }
    .footer-titles {
        font-size: 30px;
    }
    .footer-info {
        font-size: 13px;
    }
    .centered {
        font-size: 70px;
    }
}

@media (min-width: 1224px) {
    .show-text {
        font-size: xx-large;
    }
    .details {
        font-size: large;
    }
    .button-text {
        font-size: x-large;
    }
    .footer-titles {
        font-size: 35px;
    }
    .footer-info {
        font-size: 17px;
    }
    .centered {
        font-size: 80px;
    }
}

body {
    font-family: 'Times New Roman', Times, serif;
}

.navbar {
    background-color: black;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: white;
}

.navbar-toggler-icon {
    background-color: white;
}

#big-pic {
    margin: 0;
    padding: 0;
}

.image-text {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-text {
    color: white;
    border-radius: 0;
    border: solid lightgray 1px;
}

.white {
    color: white;
}